#gridcontainer {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    box-sizing: border-box;
    border: 1px solid rgba(41, 41, 41, 0.1);
    /*background: whitesmoke;*/
}

/*
.cell:hover {
    background-color: orangered;   
}
*/