body {
    margin: 0;
    background: whitesmoke;
}

#gridcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 0;
}

.cell {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgba(41, 41, 41, 0.06);
}

/*
.cell:hover {
    background-color: orangered;   
}
*/